@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagina do Francisco</title>

    <!--folhas de estilo-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <h2>Sistema de Controle de Produtos do Francisco</h2>
        <p>Projeto desenvolvido em Asp. Net CORE MVC com Dapper</p>
        <hr />

        <p> Escolha a opção desejada:</p>

        <ul>
            <li><a href="/Estoque/Cadastro"> Cadastrar Estoque</a></li>
            <li><a href="/Estoque/Consulta"> Consultar Estoque</a></li>
        </ul>

        <ul>
            <li><a href="/Produto/Cadastro"> Cadastrar Produtos</a></li>
            <li><a href="/Produto/Consulta"> Consultar Produtos</a></li>
        </ul>


    </div>
</body>
</html>
